<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="ui fixed inverted menu" th:fragment="head">
        <div class="ui container" style="width: 85%">
            <a href="" class="header item">
                <img class="logo" th:src="@{/img/doge.png}">
            </a>
            <a href="fixed.php#" class="item">家余</a>
            <a class="item" href="/admin/index">主页</a>
            <a class="item" href="/admin/user">用户管理</a>
            <a class="item" href="/admin/stylist">发型师管理</a>
            <a class="item" href="/admin/barbershop">门店管理</a>
            <a class="item" href="/admin/reservation">预约管理</a>
            <a class="item" href="/admin/coupon">优惠券管理</a>
            <a class="item" href="/admin/information">资讯管理</a>
        </div>
    </div>

</body>
</html>