<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>美容美发会员系统后台管理</title>
        <link rel="stylesheet" th:href="@{/semantic_ui/semantic.css}">
        <script type="text/javascript" charset="UTF-8" th:src="@{/js/jquery-3.6.0.min.js}"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" charset="UTF-8" th:src="@{/js/vue.js}"></script>
        <script type="text/javascript" th:src="@{/semantic_ui/semantic.min.js}"></script>
        <!-- 引入 echarts.js -->
        <script type="text/javascript" th:src="@{/js/echarts.min.js}"></script>
    </head>
    <body>
        <div id="app">
            <div th:replace="head :: head"></div>
            <br><br><br><br>
            <br><br>
            <div class="ui container" style="width: 600px;" th:align="center">
                <div class="ui large statistic" style="width: 40%;float: left">
                    <div class="value" id="passengerFlow">
                        {{passengerFlow}}
                    </div>
                    <div class="label">
                        今日客流量
                    </div>
                </div>

                <div class="ui large statistic" style="width: 40%;float: right">
                    <div class="value" id="total">
                        {{turnOver}}
                    </div>
                    <div class="label">
                        今日营业额
                    </div>
                </div>
            </div>
            <br><br><br><br><br><br>
            <div class="ui container" style="width: 85%" th:align="right">
                <div class="ui selection dropdown">
                    <input type="hidden" id="barbershop">
                    <i class="dropdown icon"></i>
                    <div class="default text">{{barbershopName}}</div>
                    <div class="menu" id="addItem">
                    </div>
                </div>
            </div>
            <br><br>
            <div class="ui container" style="width: 1200px;" th:align="center">
                <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                <div id="barChart" style="width: 600px;height:400px;float:left"></div>
                <div id="lineChart" style="width: 600px;height:400px;float:right"></div>
            </div>
        </div>

        <script type="text/javascript">
            let app = new Vue({
                el: '#app',
                data: {
                    turnOvers: [],
                    date: [],
                    passengerFlows: [],
                    turnOver: "40,000",
                    passengerFlow: "300",
                    barbershopName: "",
                    barbershops: []
                },
                mounted: function() {

                    let name
                    axios.get('/admin/allBarbershopName')
                        .then(response => {
                            name = response.data
                            this.barbershops = name
                            this.barbershopName = name[0]
                            if (name.length > 0) {
                                for (var i = 0; i < name.length; i++){
                                    $("#addItem").append("<div class='item' data-value="+name[i]+">"+name[i]+"</div>")
                                }
                            }
                        })
                        .catch(function(error) {
                            console.log(error);
                        });
                    $('.ui.selection.dropdown').dropdown();
                    axios.get('/admin/allPassengerFlow')
                        .then(response => {
                            this.passengerFlows = response.data
                            this.passengerFlow = this.passengerFlows[this.passengerFlows.length - 1]
                            barChart.setOption({
                                series: [{
                                    name: '客流量',
                                    type: 'bar',
                                    data: this.passengerFlows
                                }]
                            })
                            lineChart.setOption({
                                series: [{
                                    name: '客流量',
                                    type: 'line',
                                    data: this.passengerFlows
                                }]
                            })
                        })
                        .catch(function(error) {
                            console.log(error);
                        });

                    axios.get('/admin/Date')
                        .then(response => {
                            this.date = response.data
                            lineChart.setOption({
                                xAxis: {
                                    data: this.date
                                }
                            })
                            barChart.setOption({
                                xAxis: {
                                    data: this.date
                                }
                            })
                        })
                        .catch(function(error) {
                            console.log(error);
                        });

                    axios.get('/admin/allTurnOver')
                        .then(response => {
                            this.turnOvers = response.data
                            this.turnOver = this.turnOvers[this.turnOvers.length - 1]
                            barChart.setOption({
                                series: [{
                                    name: '营业额',
                                    type: 'bar',
                                    data: this.turnOvers
                                }]
                            })
                            lineChart.setOption({
                                series: [{
                                    name: '营业额',
                                    type: 'line',
                                    data: this.turnOvers
                                }]
                            })
                        })
                        .catch(function(error) {
                            console.log(error);
                        });

                },
                methods: {

                }
            })


            // 基于准备好的dom，初始化echarts实例
            var barChart = echarts.init(document.getElementById('barChart'));

            // 指定图表的配置项和数据
            console.log(app.turnOver)
            var option = {
                title: {
                    text: '莞丽美发 统计柱状图'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                legend: {
                    data:['客流量', '营业额']
                },
                yAxis: {},
                xAxis: {
                    data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子", "羽绒"]
                },
                series: [
                    {
                        name: '客流量',
                        type: 'bar',
                        data: app.passengerFlows
                    },
                    {
                        name: '营业额',
                        type: 'bar',
                        data: app.turnOvers
                    }
                ]
            };

            // 使用刚指定的配置项和数据显示图表。
            barChart.setOption(option);


            // 基于准备好的dom，初始化echarts实例
            var lineChart = echarts.init(document.getElementById('lineChart'));

            // 指定图表的配置项和数据
            console.log(app.turnOver)
            var option = {
                title: {
                    text: '莞丽美发 统计折线图'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data:['客流量', '营业额']
                },
                yAxis: {},
                xAxis: {
                    data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子", "羽绒"]
                },
                series: [
                    {
                        name: '客流量',
                        type: 'line',
                        data: app.passengerFlows
                    },
                    {
                        name: '营业额',
                        type: 'line',
                        data: app.turnOvers
                    }
                ]
            };

            // 使用刚指定的配置项和数据显示图表。
            lineChart.setOption(option);
        </script>
    </body>
</html>
